<?xml version="1.0"?>
<launch>

  <include file="$(find ur_gazebo)/launch/ur10e_bringup.launch" />
  <include file="$(find ur_description)/launch/view_ur10e.launch"/>
  
  <node name="CartesianController" pkg="ur10e_sim_control" type="CartControl_v4.py" output="screen" launch-prefix="gnome-terminal --command"/>
  <node name="talker" pkg="ur10e_sim_control" type="goalPublisher.py" output="screen" launch-prefix="gnome-terminal --command"/>
  <node name="VisualizerNode" pkg="ur10e_sim_control" type="VisualizerNode.py" output="screen" launch-prefix="gnome-terminal --command"/>
  <node name="collisionNode" pkg="ur10e_sim_control" type="collisionCheckerNode.py" output="screen" launch-prefix="gnome-terminal --command"/>

</launch>